<!-- ***** Special Featured Area Start ***** -->
<section class="special_feature_area d-md-flex align-items-center">
    <!-- Single Feature Area -->
    <div class="single_feature_area d-flex align-items-center justify-content-center">
        <div class="feature_icon">
            <i class="ti-truck"></i>
            <span><i class="ti-check" aria-hidden="true"></i></span>
        </div>
        <div class="feature_content">
            <h6>FREE SHIPPING</h6>
            <p>For orders above $100</p>
        </div>
    </div>
    <!-- Single Feature Area -->
    <div class="single_feature_area d-flex align-items-center justify-content-center">
        <div class="feature_icon">
            <i class="ti-headphone-alt"></i>
            <span><i class="ti-check" aria-hidden="true"></i></span>
        </div>
        <div class="feature_content">
            <h6>Customer Care</h6>
            <p>24/7 Friendly Support</p>
        </div>
    </div>
    <!-- Single Feature Area -->
    <div class="single_feature_area d-flex align-items-center justify-content-center">
        <div class="feature_icon">
            <i class="ti-back-left"></i>
            <span><i class="ti-check" aria-hidden="true"></i></span>
        </div>
        <div class="feature_content">
            <h6>Happy Returns</h6>
            <p>7 Days free Returns</p>
        </div>
    </div>
    <!-- Single Feature Area -->
    <div class="single_feature_area d-flex align-items-center justify-content-center">
        <div class="feature_icon">
            <i class="ti-credit-card"></i>
            <span><i class="ti-check" aria-hidden="true"></i></span>
        </div>
        <div class="feature_content">
            <h6>100% Money Back</h6>
            <p>If product is damaged</p>
        </div>
    </div>
</section>
<!-- ***** Special Featured Area End ***** -->
