
<!-- ***** Footer Area Start ***** -->
<footer class="footer_area section_padding_100">
    <div class="container">
        <div class="row">
            <!-- Single Footer Area Start -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single_footer_area">
                    <div class="footer_heading mb-30">
                        <h6>About us</h6>
                    </div>
                    <div class="footer_content">
                        <p>Bigshop is international products online shop. We provide 100% quality products for your needs.</p>
                        <p>Phone: +37069956805</p>
                        <p>Email: gcilinskas@gmail.com</p>
                    </div>
                </div>
            </div>
            <!-- Single Footer Area Start -->
            <div class="col-12 col-md-6 col-lg">
                <div class="single_footer_area">
                    <div class="footer_heading mb-30">
                        <h6>Alistore</h6>
                    </div>
                    <ul class="footer_widget_menu">
                        <li><a href="/products"><i class="fa fa-angle-right" aria-hidden="true"></i>Products</a></li>
                        <li><a href="/products?filter=1"><i class="fa fa-angle-right" aria-hidden="true"></i>Car Chargers</a></li>
                        <li><a href="/products?filter=2"><i class="fa fa-angle-right" aria-hidden="true"></i>Wireless Chargers</a></li>
                        <li><a href="/products?filter=3"><i class="fa fa-angle-right" aria-hidden="true"></i>AirPod Chargers</a></li>
                    </ul>
                </div>
            </div>
            <!-- Single Footer Area Start -->
            <div class="col-12 col-md-6 col-lg">
                <div class="single_footer_area">
                    <div class="footer_heading mb-30">
                        <h6>Account Information</h6>
                    </div>
                    <ul class="footer_widget_menu">
                        <li><a href="/cart"><i class="fa fa-angle-right" aria-hidden="true"></i>Your Cart</a></li>
                    </ul>
                </div>
            </div>
            <!-- Single Footer Area Start -->
            <div class="col-12 col-md-6 col-lg">

                <div class="single_footer_area mt-30">

                </div>
            </div>
        </div>
    </div>


    <!-- Footer Bottom Area Start -->
    <div class="footer_bottom_area">
        <div class="container">
            <div class="row">
                <!-- Copywrite Content -->
                <div class="col-12 col-md">
                    <div class="copywrite_text text-left d-flex align-items-center">
                        <p>Copyrights</p>
                    </div>
                </div>
                <!-- Payment Method -->
                <div class="col-12 col-md">
                    <div class="payment_method text-right">

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ***** Footer Area End ***** -->




