    {# <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid"> #}
            <div class="nav">
                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="fas fa-caret-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
            </div>

        {# </div>
    </nav> #}
